{% extends 'base.html' %}
{% block head %}
<h1 style="text-align: center; font-family: 'Courier New', Courier, monospace; font-size: 30;">Chat page </h1>
<div style="display: flex;flex-direction: row; justify-content: space-between;"> 
    <div>
        <form style="text-align: right;" method="get" action="/favorites">
            <button type="submit">See your bookmarked movies!</button>
        </form>
    </div>
    <div>
        <form style="text-align: left;" method="get" action="/">
            <button type="submit">Home Page</button>
        </form>
    </div>
</div>
{% endblock %}
{% block body %}
<div style="display: flex;flex-direction: row;justify-content: space-between;">
    <form style="align-items: baseline;" action="/chat" method="POST">

        <div>
            {% if bot_response %}
            <p style="text-align: center; justify-content: left; font-size: 20;">
                {% autoescape false %}
                {{ bot_response }}</p>
            {% endautoescape %}
            {% else %}
            <p>hey </p>
            {% endif %}
        </div>

        <input style="align-items: baseline; width: 80rem; height: 3rem;" type="text"
            placeholder="type your message here " name="msg">
        <button>Send message</button>
    </form>
</div>
{% endblock %}